@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}
  

.animate-in {
  animation-delay: calc(var(--index) * 130ms);
}

.underline-animation {
  position: relative;
  display: inline-block;
  /* Ensures proper rendering of pseudo-elements */
}

.underline-animation:hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  /* Adjust as needed */
  height: 2px;
  background-color: black;
  width: 100%;
}

.underline-animation::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .3s;
}


/* Mobile menu button styles */
.mobile-menu-button {
  display: none;
  /* Your button styling here */
}

/* Styles for menu items */
.menu {
  transition: transform 0.3s ease-in-out;
}

/* Mobile styles */
@media (max-width: 768px) {
  .mobile-menu-button {
    display: block;
  }

  .menu {
    transform: translateY(-100%);
  }

  .menu.open {
    transform: translateY(0);
  }

  /* Adjust menu and other element styles for mobile */
}

/* Add this within your global styles or a CSS module */
.transition-opacity {
  transition: opacity 300ms ease-in-out;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.translate-x-0 {
  transform: translateX(0);
}

.translate-x-full {
  transform: translateX(100%);
}
/* Add this CSS to style your tiles */
.tile {
  
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

/* Non-hovered tiles in the group will have reduced opacity */
.group:hover .tile {
  opacity: 0.5;
}

/* The tile being hovered will maintain full opacity and scale */
.group .tile:hover {
  transform: scale(1.05);
  opacity: 1;
}

.group:hover .group-hover:opacity-50 {
  opacity: 0.5;
}

.group:hover .group-hover:opacity-50:hover {
  opacity: 1;
}